header{
    height: 80px;
    padding: 1rem;
    color: black;
    background: skyblue;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
button{
    font-weight: bold;
    background: skyblue;
}